<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Радио <i class="hero__title-italic">W-Wawe</i>
      </h1>

      <p class="hero__text">
        Привет, на&nbsp;связи W-Wawe! Раньше мы&nbsp;были
        <a href="#" class="link link_hover_stick hero__link">изданием</a>,
        а&nbsp;теперь пробуем себя в&nbsp;разоворном жанре. Говорим
        о&nbsp;музыке, политике, истории, науке и&nbsp;культуре. Здесь, помимо
        прямого эфира&nbsp;&mdash; архив передач и&nbsp;многое другое :)
      </p>

      <a href="#" class="btn btn_primary_main hero__btn">Слушать эфир</a>
    </div>
  </div>
</section>
